.App {
  text-align: center;
}

.chessbutton{
  border: 1px solid #000;
  height: 80px;
  width: 80px;
  font-size: 40px;
}
@media (max-width: 640px) {
  .chessbutton{
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 480px) {
  .chessbutton{
    width: 40px;
    height: 40px;
    font-size: 30px;
  }
}

.moves{
  background-color: green !important;
}

.selected{
  background-color: yellow !important;
}

select{
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
}
option{
  background-color: #000;
  color: #fff
}
h4{
  margin-bottom: 0;
  color: #fff;
}
h6 span{
  color: red;
}